.main {
  padding: $margin-top $margin-small 0;
  &-encap {
    @extend %relative;
    padding-top: $margin-top;
    padding-bottom: $margin-bottom;
    &::after {
      @extend %absolute;
      background: $color-gray4;
      content: '';
      display: block;
      margin: auto;
      right: 0;
      bottom: -2rem;
      left: 0;
      width: 4em;
      height: 1px;
    }
  }
}
@include medium {
  .main {
    padding: $margin-top $margin-in 0;
  }
}
@include large {
  .main {
    padding: $margin-top $relative-side 0;
    &-encap {
      padding-top: $relative-top;
      padding-bottom: 0;
    }
  }
}