#about {
  .list-design {
    li {
      display: inline-block;
    }
  }
  .tech-table {
    width: 100%;
    min-width: 30em;
    margin-bottom: 1em;
    th {
      width: 25%;
    }
  }
}
@include large {
  #about {
    .tech-table {
      width: 50%;
    }
  }
}