#contact {
  li {
    display: inline-block;
    margin-right: .5em;
  }
  .icon {
    background-image: url($img-url + "networks.png");
    background-size: to-rem(195) to-rem(63);
    width: 2rem;
    height: 2rem;
  }
  .network {
    padding-top: .5em;
  }
  @include net-sprites((
    behance: 0,
    git: 1,
    linkedin: 4,
    insta: 2,
    lastfm: 3,
    steam: 5
  ));
}
@media only screen and (min-resolution: $hd),
       only screen and (min-width: $huge) {
  #contact .icon {
    background-image: url($hd-img-url + "networks.png");
  }
}
@media only screen and (min-resolution: $uhd),
       only screen and (min-width: $ludicrous) {
  #contact .icon {
    background-image: url($uhd-img-url + "networks.png");
  }
}
@include luhd {
  #contact .icon {
    background-image: url($luhd-img-url + "networks.png");
  }
}