#contact {
  li {
    display: inline-block;
    margin-right: .5em;
  }
  .icon {
    background-image: url($img-url + "networks.png");
    background-size: 195px 63px;
    width: 32px;
    height: 32px;
  }
  .network {
    padding-top: .5em;
  }
  @each $class, $i in (behance:0, git:1, insta:2, lastfm:3, linkedin:4, steam:5) {
    .#{$class} {
      $unity: "" !default;
      @if $i > 0 {$unity: "px"};
      background-position: -#{($i * 33)+$unity} 0;
      &:hover,
      &:focus {
        background-position: -#{($i * 33)+$unity} -33px;
      }
    }
  }
}
@include hd {
  #contact .icon {
    background-image: url($hd-img-url + "networks.png");
  }
}
@include uhd {
  #contact .icon {
    background-image: url($uhd-img-url + "networks.png");
  }
}
@include luhd {
  #contact .icon {
    background-image: url($luhd-img-url + "networks.png");
  }
}