#about {
  .list-design {
    li {
      display: inline-block;
    }
  }
  .tech-table {
    width: 100%;
    min-width: 30em;
    //max-width: 45em;
    margin-bottom: 1em;
    th {
      width: 25%;
    }
  }
}