#works {
  .works{
    &-item {
      display: inline-block;
      margin-bottom: 2em;
      vertical-align: top;
      width: 100%;
    }
    &-anc {
      border-bottom: outset 2px $color1;
      padding: 0;
      display: block;
      height: auto;
      &:hover, &:focus {
        .works-img {
          -webkit-filter: unset;
                  filter: unset;
        }
      }
    }
    &-img {
      border-bottom: solid 1px $color-gray5;
      box-shadow: $soft-shadow;
      opacity: 0;
      transition: filter .25s, -webkit-filter .25s, opacity .5s .1s ease-out;
      filter: grayscale(50%) sepia(25%);
      width: 100%;
    }
    &-captcha {
      font-weight: 700;
      padding: .2em 0 .75em;
    }
  }
  .loaded .works-img {
    opacity: 1;
  }
}
@include tiles-per-mq((
  $small: 2,
  $medium: 3,
  $large: 4,
  $huge: 5,
  2540px: 6
));