/* [3.1] Basic definitions */
::-moz-selection {
  @include focus($color1);
}
::selection {
  @include focus($color1);
}
html, {
  background: $color-bg;
}
html,
body,
button {
  -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
           font-smoothing: antialiased;
}
body {
  @extend %text-center;
  color: $color-txt;
  font: normal 300 to-em($font-size-base)/1.35 $font;
}
@media only screen and (min-width: $huge) and (min-resolution: $uhd),
       only screen and (min-width: $ludicrous) {
  body {
    font-size: 1.5em;
  }
}
.wf-inactive body {
  font-family: $font-fallback;
}
div,
img,
video,
object {
  max-width: 100%;
}

a {
  border-bottom: outset 2px $color1;
  color: $color-txt;
  display: inline-block;
  padding: 0 2px;
  height: 1.15em;
  text: {
    decoration: none;
    indent: 0;
    shadow: 1px 0 $color-bg, 2px 0 $color-bg, -1px 0 $color-bg, -2px 0 $color-bg;
  }
  
  &:hover,
  &:focus {
    outline: none;
    @include focus;
    text-shadow: 1px 0 $color1, 2px 0 $color1, -1px 0 $color1, -2px 0 $color1;
  }
}
@include large {
  .fluid-txt {
    -webkit-column-width: 32em;
       -moz-column-width: 32em;
            column-width: 32em;
    -webkit-column-gap: 2em;
       -moz-column-gap: 2em;
            column-gap: 2em;
  }
}
@include huge {
  .fluid-txt {
    -webkit-column-gap: $margin-out;
       -moz-column-gap: $margin-out;
            column-gap: $margin-out;
  }
}
abbr {cursor: help}
/* [3.2] Inline definitions */

/* [3.2.1] Text align */
%text-center {
  text-align: center;
}
%text-left,
.main,
.main-footer {
  text-align: left;
}
%text-right {
  text-align: right;
}
%text-justify {
  text-align: justify;
}

/* [3.2.2] Fonts and text definitions */
%headers {
  font-family: $font-header;
  font-weight: 800;
}
%alt-headers {
  font-family: $font-header-fallback;
  font-weight: 700;
}
@each $header, $size in (h1: 2.5em, h2: 2em, h3: 1.75em, h4: 1.25em) {
  #{$header} {
    @extend %headers;
    @extend %text-left;
    color: $color-strong;
    font-size: $size;
    padding: .75em 0 .5em;
  }
  #{$header}:first-child {
    padding-top: .25em;
  }
  .wf-inactive #{$header} {
    @extend %alt-headers;
  }
}
p {
  text-indent: $p-indent;
  max-width: 45em;
  &:first-of-type {
    text-indent: 0;
  }
}
b, strong, %bold {
  font-weight: 700;
}
i, q, em, %italic {
  font-style: italic;
}
dt {
  @extend %headers;
  margin-top: .5em;
  &:first-child {
    margin-top: 0;
  }
}
/* [3.3] Block definitions */

/* [3.3.1] Positions */

%absolute {
  position: absolute;
}

%relative {
  position: relative;
}

/* [3.3.x] Other blocks */
.main-encap,
.main-footer {
  &::before {
    background: #108A69;
    content: '';
    display: block;
    width: 4em;
    height: 4px;
  }
}