@charset "UTF-8";
/*
TOC:

style.scss */
/*  │
    ├─ [1] fonts.scss
    │   └─ [1.1] Font imports 
    │
    ├─ [2] normalize.scss
    │   ├─ [2.1] compass/reset
    │   └─ [2.2] git.io/normalize
    │
    ├─ [3] globals.scss
    │   ├─ [3.1] Basic definitions
    │   └─ [3.2] Inline definitions
    │       ├─ [3.2.1] Text align
    │       └─ [3.2.2] Fonts and text definitions
    │
    ├─ [/a] modules
    │   ├─ [4] header.scss
    │   ├─ [5] body.scss
    │   └─ [6] footer.scss
    │
    ├─ [/b] pages
    │   ├─ [7] works.scss
    │   ├─ [8] about.scss
    │   ├─ [9] faq.scss
    │   ├─ [10] contact.scss
    │   └─ [11] project.scss
    │
    └─ [/c] components
        ├─ [12] sprites.scss
        └─ [13] table.scss
*/
/* [1] fonts.scss */
/* [1.1] Font imports */
/* All font imports are made using adobe typekit, so this small style just avoid the flash of unstyled text */
body,
.wf-loading.wf-inactive body {
  opacity: 1;
  transition: opacity .2s ease-in; }

.wf-loading body,
.wf-inactive body {
  opacity: 0; }

.wf-loading.wf-inactive body::before {
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  content: 'Loading custom font...';
  color: #c0ff33;
  display: block;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999999; }

/* [2] normalize.scss */
/* [2.1] compass/reset */
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, main, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, td, th {
  text-align: left;
  font-weight: 400;
  vertical-align: middle; }

blockquote, q {
  quotes: none; }

blockquote:after, blockquote:before, q:after, q:before {
  content: "";
  content: none; }

a img, img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* [2.2] git.io/normalize */
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background: 0 0;
  text-decoration: none; }

a:active, a:hover {
  outline: 0; }

b, optgroup, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

svg:not(:root) {
  overflow: hidden; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre, textarea {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

input {
  line-height: normal; }

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* [3] globals.scss */
/* [3.1] Basic definitions */
::-moz-selection {
  background-color: #c0ff33;
  color: #222; }

::selection {
  background-color: #c0ff33;
  color: #222; }

html {
  background: #edecea; }

html,
body,
button {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

body {
  color: #444;
  font: normal 300 1em/1.35 "alegreya", georgia, serif; }

.wf-inactive body {
  font-family: georgia, serif; }

div,
img,
video,
object {
  max-width: 100%; }

a {
  border-bottom: outset 2px #c0ff33;
  color: #444;
  display: inline-block;
  padding: 0 2px;
  height: 1.15em;
  text-decoration: none;
  text-indent: 0;
  text-shadow: 1px 0 #edecea, 2px 0 #edecea, -1px 0 #edecea, -2px 0 #edecea; }
  a:hover, a:focus {
    outline: none;
    background-color: #c0ff33;
    color: #222;
    text-shadow: 1px 0 #c0ff33, 2px 0 #c0ff33, -1px 0 #c0ff33, -2px 0 #c0ff33; }

@media only screen and (min-width: 900px) {
  .fluid-txt {
    -webkit-column-width: 32em;
    -moz-column-width: 32em;
    column-width: 32em;
    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    column-gap: 2em; } }
@media only screen and (min-width: 1900px) {
  .fluid-txt {
    -webkit-column-gap: 6.2em;
    -moz-column-gap: 6.2em;
    column-gap: 6.2em; } }
abbr {
  cursor: help; }

/* [3.2] Inline definitions */
/* [3.2.1] Text align */
body, .main-header, .site-title {
  text-align: center; }

h1, h2, h3, h4,
.main,
.main-footer {
  text-align: left; }

/* [3.2.2] Fonts and text definitions */
h1, h2, h3, h4, dt {
  font-family: "abril-titling-narrow", "Gill Sans", "Gill Sans MT", sans-serif;
  font-weight: 800; }

.wf-inactive h1, .wf-inactive h2, .wf-inactive h3, .wf-inactive h4 {
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
  font-weight: 700; }

h1 {
  color: #222;
  font-size: 2.5em;
  padding: .75em 0 .5em; }

h1:first-child {
  padding-top: .25em; }

h2 {
  color: #222;
  font-size: 2em;
  padding: .75em 0 .5em; }

h2:first-child {
  padding-top: .25em; }

h3 {
  color: #222;
  font-size: 1.75em;
  padding: .75em 0 .5em; }

h3:first-child {
  padding-top: .25em; }

h4 {
  color: #222;
  font-size: 1.25em;
  padding: .75em 0 .5em; }

h4:first-child {
  padding-top: .25em; }

p {
  text-indent: 1.62em;
  max-width: 45em; }
  p:first-of-type {
    text-indent: 0; }

b, strong, .main-menu-a {
  font-weight: 700; }

i, q, em {
  font-style: italic; }

dt {
  margin-top: .5em; }
  dt:first-child {
    margin-top: 0; }

/* [3.3] Block definitions */
/* [3.3.1] Positions */
.site-title {
  position: absolute; }

.main-header {
  position: relative; }

/* [3.3.x] Other blocks */
.main-encap::before,
.main-footer::before {
  background: #108A69;
  content: '';
  display: block;
  width: 4em;
  height: 4px; }

/* [/a] modules */
/* [4] header.scss */
.main-header {
  height: 55vh;
  min-height: 180px; }

.site-title {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto; }

.site-title {
  width: 6.7em;
  height: 1.75em; }
  .site-title-name::after {
    background: #aaa;
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: -2.1em;
    z-index: -1; }
  .site-title-pos {
    color: #666;
    background: #edecea;
    display: inline-block;
    font: italic 400 0.9em "alegreya", georgia, serif;
    padding: 0 .3em .5em;
    position: relative;
    top: -0.35em; }
  .site-title-symb.logo {
    background-color: #fff;
    background-size: 0.875em 0.7em;
    border-radius: 100%;
    box-shadow: 0 3px #aaa;
    display: block;
    margin: auto;
    position: relative;
    top: -.3em;
    right: 0;
    left: 0;
    width: 1.75em;
    height: 1.75em; }

@media only screen and (min-width: 660px) {
  .main-header {
    height: 62vh; }

  .site-title {
    font-size: 3.5em;
    height: 3em; }
    .site-title-symb.logo {
      background-size: 0.80357em 0.64286em; }
    .site-title-name::after {
      bottom: -.8em; } }
@media only screen and (min-width: 900px) {
  .main-header {
    height: 68vh; }

  .site-title {
    font-size: 4em; }
    .site-title-symb.logo {
      background-size: 1.01563em 0.8125em; } }
.main-menu {
  background: rgba(237, 236, 234, 0.965);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  overflow-y: hidden;
  padding: 0;
  transition: height .5s ease-in-out;
  height: 2.4em;
  z-index: 9999; }
  .main-menu.open {
    height: 100vh; }
  .main-menu, .main-menu-a {
    width: 100%; }
  .main-menu-h {
    color: #000;
    position: absolute;
    right: 1em;
    top: 0;
    padding: 10px 0;
    font-size: 1em; }
    .main-menu-h:first-child {
      padding-top: .75em; }
  .main-menu-ul {
    margin-top: 2.4em; }
  .main-menu-a {
    border-bottom: none;
    color: #aaa;
    display: block;
    height: auto;
    padding: 1em 20%;
    position: relative;
    transition: color .3s;
    text-align: left; }
    .main-menu-a:hover, .main-menu-a:focus {
      color: #000; }
    .main-menu-a:hover {
      background-color: transparent;
      text-shadow: none; }
    .main-menu-a:focus {
      background-color: #c0ff33;
      color: #222; }
  .main-menu .selected, .main-menu .selected:hover, .main-menu .selected:focus {
    color: #000; }
  .main-menu .logo {
    background-size: 1.25em 1em;
    background-repeat: no-repeat;
    display: block;
    direction: ltr;
    overflow: hidden;
    text-indent: -9999px;
    position: absolute;
    left: 1em;
    top: .3em;
    opacity: .75;
    padding: 1em;
    width: 0;
    height: 0;
    transition: all .25s ease-in-out; }
    .main-menu .logo.active {
      width: 3.5em;
      height: 3.5em; }
    .main-menu .logo::before {
      display: none; }
    .main-menu .logo:hover, .main-menu .logo:focus {
      background-color: #c0ff33;
      opacity: 1; }

@media only screen and (min-width: 660px) {
  .main-menu {
    left: 0;
    width: 100%;
    height: auto; }
    .main-menu .logo {
      left: 3.8em; }
    .main-menu-h {
      display: none; }
    .main-menu-ul {
      margin-top: 0; }
    .main-menu-li {
      display: inline-block; }
    .main-menu-a {
      padding: 10px 1.5em;
      text-align: center; }
      .main-menu-a::before {
        width: 68%; } }
@media only screen and (min-width: 900px) {
  .main-menu .logo {
    left: 6.2em; } }
/* [5] body.scss */
.main {
  padding: 2.4em 1em 0; }
  .main-encap {
    padding-top: 2.4em;
    padding-bottom: 4.8em; }

@media only screen and (min-width: 660px) {
  .main {
    padding: 2.4em 3.8em 0; } }
@media only screen and (min-width: 900px) {
  .main {
    padding: 2.4em 6.2em 0; } }
/* [6] footer.scss */
.main-footer {
  padding: 2.4em 1em 4.8em; }

@media only screen and (min-width: 660px) {
  .main-footer {
    padding: 2.4em 3.8em 4.8em; } }
@media only screen and (min-width: 900px) {
  .main-footer {
    padding: 2.4em 6.2em 4.8em; } }
/* [/b] pages */
/* [7] works.scss */
#works .works-item {
  display: inline-block;
  margin-bottom: 2em;
  vertical-align: top;
  width: 100%; }
#works .works-anc {
  border-bottom: outset 2px #c0ff33;
  padding: 0;
  display: block;
  height: auto; }
  #works .works-anc figcaption {
    font-weight: 700;
    padding: .2em 0 .75em; }
  #works .works-anc img {
    border-bottom: solid 1px #aaa;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: all .25s;
    -webkit-filter: grayscale(50%) sepia(25%);
    filter: grayscale(50%) sepia(25%); }
  #works .works-anc:hover img, #works .works-anc:focus img {
    -webkit-filter: unset;
    filter: unset; }

@media only screen and (min-width: 419px) {
  #works .works-list {
    margin-left: -1em; }
  #works .works-item {
    margin-left: 1em;
    width: calc(50% - 1em); } }
@media only screen and (min-width: 660px) {
  #works .works-item {
    width: calc(33.33333% - 1em); } }
@media only screen and (min-width: 900px) {
  #works .works-item {
    width: calc(25% - 1em); } }
@media only screen and (min-width: 1900px) {
  #works .works-item {
    width: calc(20% - 1em); } }
@media only screen and (min-width: 2540px) {
  #works .works-item {
    width: calc(16.66667% - 1em); } }
/* [8] about.scss */
#about .list-design li {
  display: inline-block; }
#about .tech-table {
  width: 100%;
  min-width: 30em;
  margin-bottom: 1em; }
  #about .tech-table th {
    width: 25%; }

@media only screen and (min-width: 900px) {
  #about .tech-table {
    width: 50%; } }
/* [9] faq.scss */
/* [10] contact.scss */
#contact li {
  display: inline-block;
  margin-right: .5em; }
#contact .icon {
  background-image: url(images/networks.png);
  background-size: 12.1875em;
  width: 2em;
  height: 2em; }
#contact .network {
  padding-top: .5em; }
#contact .behance {
  background-position: -0 0; }
  #contact .behance:hover, #contact .behance:focus {
    background-position: -0 -2.0625em; }
#contact .git {
  background-position: -2.0625em 0; }
  #contact .git:hover, #contact .git:focus {
    background-position: -2.0625em -2.0625em; }
#contact .linkedin {
  background-position: -8.25em 0; }
  #contact .linkedin:hover, #contact .linkedin:focus {
    background-position: -8.25em -2.0625em; }
#contact .insta {
  background-position: -4.125em 0; }
  #contact .insta:hover, #contact .insta:focus {
    background-position: -4.125em -2.0625em; }
#contact .lastfm {
  background-position: -6.1875em 0; }
  #contact .lastfm:hover, #contact .lastfm:focus {
    background-position: -6.1875em -2.0625em; }
#contact .steam {
  background-position: -10.3125em 0; }
  #contact .steam:hover, #contact .steam:focus {
    background-position: -10.3125em -2.0625em; }

@media only screen and (min-resolution: 1.5dppx) {
  #contact .icon {
    background-image: url(images/hd/networks.png); } }
@media only screen and (min-resolution: 2dppx) {
  #contact .icon {
    background-image: url(images/uhd/networks.png); } }
@media only screen and (min-resolution: 2.5dppx) {
  #contact .icon {
    background-image: url(images/luhd/networks.png); } }
/* [11] project.scss */
#project {
  background-color: rgba(237, 236, 234, 0.965);
  opacity: 0;
  position: absolute;
  top: 0;
  left: -10em;
  transition: left .35s ease-in-out, opacity .35s ease-in-out;
  text-align: left;
  width: 100%;
  z-index: 99999; }
  #project h1 {
    background: #222;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.5);
    color: #edecea;
    display: inline-block;
    margin-bottom: -1em;
    max-width: 20em;
    padding: 0 1em .2em;
    position: relative;
    top: -1em;
    left: -1em; }
  #project .content {
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    padding: 0 1em 4.8em; }
  #project .hero {
    background-attachment: fixed;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: auto;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    min-height: 62vh; }
    #project .hero img {
      opacity: 0;
      width: 100%; }
  #project .list-img {
    text-align: center; }
  #project .project-ctrl {
    background: #c00033;
    border-radius: 100%;
    border: solid 1px #a7002c;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    position: fixed;
    top: 1em;
    right: 1em;
    text-shadow: none;
    width: 2em;
    height: 2em; }
    #project .project-ctrl::before {
      color: #fff;
      content: '×';
      display: block;
      font-family: sans-serif;
      font-size: 1.75em;
      font-weight: 700;
      margin: auto;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      text-align: center;
      height: 1.3em; }
    #project .project-ctrl:focus {
      background: #f00; }
  #project.active {
    display: block;
    opacity: 1;
    left: 0; }

@media only screen and (min-width: 660px) {
  #project.active {
    width: calc(100% - 3em); }
    #project.active .content {
      padding: 0 3.8em 4.8em; }
    #project.active .project-ctrl {
      border-radius: 0;
      border-left: solid 2px #9a0029;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      height: 3em;
      top: 1.25em; } }
@media only screen and (min-width: 900px) {
  #project .content {
    padding: 0 6.2em 4.8em; }
  #project .hero {
    min-height: 0;
    background-size: contain; }
    #project .hero img {
      margin-bottom: -1em; } }
/* [/c] components */
/* [12] sprites.scss */
.icon {
  background-repeat: no-repeat;
  border-bottom: none;
  display: block;
  direction: ltr;
  overflow: hidden;
  text-indent: -9999px; }
  .icon:hover, .icon:focus {
    background-color: transparent; }

.logo {
  background-position: center;
  background-repeat: no-repeat; }

.logo {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20shape-rendering='crispEdges'%20viewBox%3D'0%200%205%204'%3E%3Cpath%20fill%3D'%23444'%20d%3D'M4%203V1H3v3h2V3M1%200h1v1H1zM1%202V1H0v3h1V3h1V2'%2F%3E%3C%2Fsvg%3E"); }

/* [13] table.scss */
.table-encap {
  overflow-x: auto; }

table {
  width: 100%; }
  table ul {
    list-style: inside disc; }
  table .empty {
    background: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%208%208'%3E%3Cpath%20fill%3D'none'%20stroke%3D'%23AAA'%20stroke-linecap%3D'square'%20stroke-miterlimit%3D'10'%20d%3D'M0%204l4-4M4%208l4-4'%2F%3E%3C%2Fsvg%3E");
    background-size: 8px; }
  table dt {
    font: 700 1em "alegreya", georgia, serif; }

thead {
  border-bottom: solid 2px #444; }

th {
  font-weight: 700; }

th, td {
  padding: .5em;
  vertical-align: top; }
  th:first-child, td:first-child {
    padding-left: 0; }

tbody tr {
  border-bottom: solid 1px #aaa; }

/*# sourceMappingURL=style.css.map */
