// [0.1] Variables

//main colors
$color1: #c0ff33;
$color2: #c0ffee;
$color3: #c00033;

//aditional colors:
$color-black: #000;
$color-gray1: #222;
$color-gray2: #333;
$color-gray3: #444;
$color-gray4: #666;
$color-gray5: #aaa;
$color-white: #fff;

//component colors
$color-aside: $color-gray2;
$color-bg: #edecea;
$color-bg-layer: rgba(92.9%,92.5%,91.8%,.965);
$color-lines: $color-gray5;
$color-selected: $color-black;
$color-subtitle: $color-gray4;
$color-strong: $color-gray1;
$color-txt: $color-gray3;

$font: "alegreya", georgia, serif;
$font-fallback: georgia, serif;
$font-header: "abril-titling-narrow", "Gill Sans","Gill Sans MT", sans-serif;
$font-header-fallback: "Gill Sans","Gill Sans MT", sans-serif;

$font-size-base: 16;

$huge: 1900px;
$large: 900px;
$medium: 660px;
$small: 419px;
$hd: 1.5;
$uhd: 2;
$luhd: 2.5;

$margin-top: 2.4em;
$margin-bottom: 4.8em;
$margin-in: 3.8em;
$margin-out: 6.2em;
$margin-small: 1em;
$p-indent: 1.62em;

$img-url: #{"images/"};
$hd-img-url: #{$img-url}#{"hd/"}; // 1.5 dppx
$uhd-img-url: #{$img-url}#{"uhd/"}; // 2 dppx
$luhd-img-url: #{$img-url}#{"luhd/"}; // ludicrous dppx
// [0.2] Functions

@function toEm($n, $m: $font-size-base) {
  @return ($n/$m)+em;
}

// [0.3] Mixins

// Media Query
@mixin media-query($media-query) {
  @if $media-query == small {
    @media only screen and (min-width: $small) { @content; }
  }
  @if $media-query == medium {
    @media only screen and (min-width: $medium) { @content; }
  }
  @if $media-query == large {
    @media only screen and (min-width: $large) { @content; }
  }
  @if $media-query == huge {
    @media only screen and (min-width: $huge) { @content; }
  }
  @if $media-query == hd {
    @media only screen and (min-resolution: 1.5dppx) { @content; }
  }
  @if $media-query == uhd {
    @media only screen and (min-resolution: 2dppx) { @content; }
  }
  @if $media-query == luhd {
    @media only screen and (min-resolution: 2.5dppx) { @content; }
  }
}

// Just some helpers...
@mixin small { @include media-query(small) { @content }; }
@mixin medium { @include media-query(medium) { @content }; }
@mixin large { @include media-query(large) { @content }; }
@mixin huge { @include media-query(huge) { @content }; }
@mixin hd { @include media-query(hd) { @content }; }
@mixin uhd { @include media-query(uhd) { @content }; }
@mixin luhd { @include media-query(luhd) { @content }; }

// Inline-block with polyfill
@mixin focus($f-color: $color2) {
  background-color: $f-color;
  color: $color-strong;
}

@mixin sprite {
  background-repeat: no-repeat;
  border-bottom: none;
  display: block;
  direction: ltr;
  overflow: hidden;
  text-indent: -9999px;
  &:hover, &:focus {
    background-color: transparent;
  }
}

@mixin v-center {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}