.main {
  padding: $margin-top $margin-small 0;
  &-encap {
    padding-top: $margin-top;
    padding-bottom: $margin-bottom;
  }
}
@include medium {
  .main {
    padding: $margin-top $margin-in 0;
  }
}
@include large {
  .main {
    padding: $margin-top $margin-out 0;
  }
}