.main-header {
  @extend %text-center;
  @extend %relative;
  height: 55vh;
  min-height: to-em(180);
}

%header-v-center {
  @extend %absolute;
  @include v-center;
}

.site-title {
  @extend %text-center;
  @extend %header-v-center;
  width: 6.7em;
  height: 1.75em;
  z-index: -1;
  &-name::after {
    background: $color-gray5;
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: -2.1em;
    z-index: -1;
  }
  &-pos {
    color: $color-subtitle;
    background: $color-bg;
    display: inline-block;
    font: italic 400 .9em $font;
    padding: 0 .3em .5em;
    position: relative;
    top: -0.35em;
  }
  &-symb.logo {
    background-color: $color-white;
    background-size: to-em(35, 2.5) to-em(28, 2.5);
    border-radius: 100%;
    box-shadow: 0 3px $color-gray5;
    display: block;
    margin: auto;
    position: relative;
    top: -.3em;
    right: 0;
    left: 0;
    width: 1.75em;
    height: 1.75em;
  }
}

@include medium {
  .main-header {
    height: 62vh;
    min-height: to-em(310);
  }
  .site-title {
    font-size: 3.5em;
    height: 3em;
    &-symb.logo {
     background-size: to-em(45, 3.5) to-em(36, 3.5); 
    }
    &-name::after {
      bottom: -.8em;
    }
  }
}
@include large {
  .main-header {
    height: 68vh;
    min-height: to-em(350);
  }
  .site-title {
    font-size: 4em;
    &-symb.logo {
      background-size: to-em(65, 4) to-em(52, 4); 
    }
  }
}

.main-menu {
  background: $color-bg-layer;
  box-shadow: $soft-shadow;
  overflow-y: hidden;
  padding: 0;
  position: fixed;
  top: 0;
  transition: height .5s ease-in-out;
  height: 2.4em;
  z-index: 9999;
  &.active {
    height: 90vh;
  }
  &, &-a {
    width: 100%;
  }
  &-h {
    color: $color-selected;
    position: absolute;
    right: $margin-small;
    top: 0;
    padding: 10px 0;
    font-size: 1em;
    &:first-child {
      padding-top: .75em;
    }
  }
  &-ul {
    margin-top: $margin-top;
  }
  &-a {
    @extend %bold;
    border-bottom: none;
    color: $color-lines;
    display: block;
    height: auto;
    padding: 1em 20%;
    position: relative;
    transition: color .3s;
    text-align: left;
    &:hover, &:focus {
      color: $color-selected;
    }
    &:hover {
      background-color: transparent;
      text-shadow: none;
    }
    &:focus {
      @include focus($color1);
    }
  }
  .selected {
    &, &:hover, &:focus {
      color: $color-selected;
    }
  }
  .logo {
    background-size: to-em(20) to-em(16);
    background-repeat: no-repeat;
    display: block;
    direction: ltr;
    overflow: hidden;
    text-indent: -9999px;
    position: absolute;
    left: $margin-small;
    top: .3em;
    opacity: .75;
    padding: 1em;
    width: 0;
    height: 0;
    transition: all .25s ease-in-out;
    &.active {
      width: 3.5em;
      height: 3.5em;
    }
    &::before {
      display: none;
    }
    &:hover,
    &:focus {
      background-color: $color1;
      opacity: 1;
    }
  }
}

@include medium {
  .main-menu {
    left: 0;
    width: 100%;
    height: auto;
    .logo {
      left: $margin-in;
    }
    &-h {
      display: none;
    }
    &-ul {
      margin-top: 0;
    }
    &-li {
      display: inline-block;
    }
    &-a {
      padding: 10px 1.5em;
      text-align: center;
      &::before {
        width: 68%;
      }
    }
  }
}
@include large {
  .main-menu {
    .logo {
      left: $margin-out;
    }
  }
}