.main-header {
  @extend %text-center;
  @extend %relative;
  height: 55vh;
}

%header-v-center {
  @extend %absolute;
  @include v-center;
}

.site-title {
  @extend %text-center;
  @extend %header-v-center;
  width: 6.7em;
  height: 2.5em;
  &-name::after {
    background: $color-gray5;
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: -1.75em;
    z-index: -1;
  }
  &-pos {
    color: $color-subtitle;
    background: #edecea;
    display: inline-block;
    font: italic 400 .9em $font;
    padding: 0 .3em .5em;
    position: relative;
    top: -0.35em;
  }
  &-symb.logo {
    background-color: $color-white;
    background-size: 35px;
    //border: solid 2px $color-gray4;
    //border-radius: 100%;
    border-radius: 100%;
    box-shadow: 0 3px $color-gray5;
    display: block;
    margin: auto;
    position: relative;
    top: -.3em;
    right: 0;
    left: 0;
    width: 1.75em;
    height: 1.75em;
  }
}

@include medium {
  .main-header {
    height: 62vh;
  }
  .site-title {
    font-size: 3.5em;
    height: 3.5em;
    &-symb.logo {
     background-size: 45px; 
    }
    &-name::after {
      bottom: -.75em;
    }
  }
}
@include large {
  .main-header {
    height: 68vh;
  }
  .site-title {
    font-size: 4em;
    height: 4em;
    &-symb.logo {
      background-size: 65px; 
    }
    &-name::after {
      bottom: -.25em;
    }
  }
}

.main-menu {
  background: $color-bg-layer;
  box-shadow: 0 0 10px rgba(0,0,0,.15);
  overflow-y: hidden;
  padding: 0;
  position: fixed;
  transition: height .5s ease-in-out;
  height: 2.4em;
  z-index: 9999;
  &.open {
    height: 100vh;
  }
  &, &-a {
    width: 100%;
  }
  &-h {
    color: $color-selected;
    position: absolute;
    right: $margin-small;
    top: 0;
    padding: 10px 0;
    font-size: 1em;
  }
  &-ul {
    margin-top: $margin-top;
  }
  &-a {
    @extend %bold;
    border-bottom: none;
    color: $color-lines;
    display: block;
    height: auto;
    padding: 1em 20%;
    position: relative;
    transition: color .3s;
    text-align: left;
    &:hover, &:focus {
      color: $color-selected;
    }
    &:hover {
      background-color: transparent;
    }
    &:focus {
      @include focus($color1);
    }
  }
  .selected {
    &, &:hover, &:focus {
      color: $color-selected;
    }
  }
  .logo {
    background-size: 30px;
    @include sprite;
    position: absolute;
    background-color: $color-white;
    left: $margin-small;
    top: 0;
    padding: 1em 0;
    width: 0;
    height: 0;
    transition: all .25s ease-in-out;
    &.active {
      width: 3.5em;
      height: 3.5em;
    }
    &::before {
      display: none;
    }
    &:hover,
    &:focus {
      @extend %bg-center;
      @extend %logo;
      background-color: $color3;
    }
  }
}

@include medium {
  .main-menu {
    left: 0;
    width: 100%;
    height: auto;
    .logo {
      left: $margin-in;
    }
    &-h {
      display: none;
    }
    &-ul {
      margin-top: 0;
    }
    &-li {
      display: inline-block;
    }
    &-a {
      padding: 10px 1.5em;
      text-align: center;
      &::before {
        width: 68%;
      }
    }
  }
}
@include large {
  .main-menu {
    .logo {
      left: $margin-out;
    }
  }
}